.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: -1px;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}
.white-block-right {
  top: 0px;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #1755e7;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Instrument Sans", sans-serif;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 2em;
  max-width: 1200px;
}

.hamburger {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.hamburger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger__inner {
  top: auto;
  bottom: 0;
  right: 0;
}

.hamburger__inner,
.hamburger__inner:after,
.hamburger__inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #000;
  display: block;
  border-radius: 4px;
}

.hamburger__inner:after,
.hamburger__inner:before {
  content: "";
  top: -10px;
}

.hamburger__inner:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #000;
  display: block;
  border-radius: 4px;
  top: -20px;
}

.navbar {
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px -5px #000;
          box-shadow: 0 4px 4px -5px #000;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  overflow: hidden;
}

.navbar__nav a.logo {
  text-decoration: none;
  font-size: 28px;
  color: #000;
}

.navbar__nav i {
  padding-right: 5px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  height: 40vh;
  width: 60%;
  top: 80px;
  right: 0;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow: auto;
  position: absolute;
  background-color: #624848;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.navbar__item {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  font-size: 2.5rem;
}

.navbar__item a {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar__item:hover a {
  color: #12500a;
}

.show-menu {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes a {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 992px) {
  .navbar .hamburger {
    display: none;
  }
  .navbar__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    background: none;
    position: static;
    width: auto;
  }
  .navbar__item {
    margin-top: 0;
    padding: 28px;
    font-size: 20px;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
  }
  .navbar__item:hover {
    background-color: #000;
  }
  .navbar__item:hover a {
    color: #fff;
  }
}
main section {
  padding: 60px;
}
main .header {
  height: 900px;
  background-color: #12500a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .header .content {
  height: 100%;
  max-width: 1920px;
  width: 100%;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .header .content .first-content {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .header .content .first-content h3 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  color: black;
}
main .header .content .first-content h2 {
  font-size: 4rem;
  font-weight: 600;
  color: black;
}
main .header .content .first-content h2 span {
  background: rgb(34, 193, 195);
  background: linear-gradient(342deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .header .content .first-content a {
  padding: 15px 10px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  width: 20%;
  text-align: center;
  margin-top: 3rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 8px;
}
main .header .content .first-content a:hover {
  background-color: rgba(190, 190, 190, 0.27);
}
main .header .content .second-content {
  width: 50%;
  height: 100%;
  background-color: yellow;
}/*# sourceMappingURL=style.css.map */