/* OFFER SECTION */
.offer-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}
.offer-header {
	margin-bottom: 25px;
}
.offer-header h3 {
	font-size: 4.2rem;
	margin-bottom: 0.5rem;
	color: var(--text-color);
}
.offer-header h3 span {
	background: linear-gradient(90deg, #0082fa 47.23%, #3aa0ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.offer-header p {
	font-size: 2.4rem;
	width: 80%;
	color: var(--text-color);
}

.tab-container {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid rgba(128, 128, 128, 0.151);
	border-radius: 16px;
}

.tab-headers {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.tab-header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding: 18px 20px;
	background: #f7f7f7;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	text-align: center;
	transition: background 0.3s;
	color: var(--text-color);
}
.tab-header span {
	margin-right: 0.5rem;
	font-size: 3.6rem;
}

.tab-header:nth-of-type(1) {
	border-radius: 8px 0 0 8px;
}
.tab-header:nth-of-type(3) {
	border-radius: 0 8px 8px 0;
}

.tab-header:hover,
.tab-header.active {
	background: #ddd;
}

.tab-content {
	position: relative;
}

.tab-panel {
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.tab-panel.active {
	display: block;
	opacity: 1;
}

.offer .extrasbg2 {
	position: absolute;
	right: -15%;
	bottom: 1%;
	transform: scale(0.65) rotate(220deg);
	opacity: 0.2;
}

.offer .box {
	display: flex;
	flex-direction: row;
	padding: 25px;
	border: 1px solid #3066be1f;
	border-radius: 16px;
	position: relative;
	z-index: 100;
	backdrop-filter: blur(10px);
	background-color: #e9e9e922;
	overflow: hidden;
	margin-bottom: 2.5rem;
}
.offer .box:last-of-type {
	margin-bottom: 0;
}
.offer .box-img {
	width: 30%;
	position: relative;
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
}
.offer .box-img span {
	font-size: 20rem;
	color: var(--text-color);
	background: linear-gradient(90deg, #0082fa 47.23%, #3aa0ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.offer .box-copy {
	display: flex;
	flex-direction: column;
	width: 70%;
	justify-content: center;
	position: relative;
	z-index: 200;
}

.offer .box-copy h3 {
	font-size: 3.4rem;
	margin-bottom: 1.5rem;
	color: var(--text-color);
}
.offer .box-copy p {
	font-size: 2rem;
	color: var(--text-color);
}
.offer .box-copy a {
	width: 30%;
	text-align: center;
}

.offer .box-copy-signs {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-top: 15px;
}
.offer .box-copy-signs .sign {
	display: flex;
	gap: 15px;
	margin-bottom: 10px;
	color: #004b91;
}

@media (max-width: 1000px) {
	.workshop .workshop-header h2 {
		font-size: 3.2rem;
	}
	.offer .box {
		flex-direction: column;
		position: relative;
		padding: 15px;
	}
	.offer .box-img {
		width: 100%;
	}
	.offer .box-copy {
		width: 100%;
	}

	.offer .box-copy h3 {
		font-size: 3rem;
	}

	.offer .box-copy p {
		font-size: 18px;
	}
	.workshop-wrapper .extrasbg2 {
		position: absolute;
		right: -15%;
		bottom: 3%;
		transform: scale(0.65) rotate(220deg);
		opacity: 0.2;
	}
	.offer .box-copy a {
		width: 50%;
	}

	.tab-headers {
		flex-direction: column;
	}
	.offer-header p {
		width: 100%;
		font-size: 2rem;
	}
	.offer {
		padding: 25px;
	}
	.offer-header h3 {
		font-size: 3.2rem;
	}
	.tab-header {
		font-size: 1.8rem;
	}
	.tab-header:nth-of-type(1) {
		border-radius: 8px 8px 0 0;
	}
	.tab-header:nth-of-type(3) {
		border-radius: 0 0 8px 8px;
	}
	.tab-header span {
		font-size: 2.4rem;
	}
	.offer .box-copy-signs {
		margin-left: 0;
	}

	.offer .box-img span{
		font-size: 12rem;
	}
}
