.header {
	background: linear-gradient(38deg, rgb(248, 254, 255) 0%, rgb(217, 239, 254) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	padding-top: 100px;
}
.header .content {
	height: 580px;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	padding-left: 70px;
	padding-right: 35px;
}
.header .content .first-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}
.header .content .first-content h3 {
	font-size: 3.5rem;
	font-weight: 400;
	margin-bottom: 1.2rem;
	color: black;
}
.header .content .first-content h2 {
	font-size: 4rem;
	font-weight: 600;
	color: black;
}
.header .content .first-content h2 span {
	background: linear-gradient(90deg, #0082fa 47.23%, #004b91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header .content .first-content a {
	margin-top: 3rem;
}
.header .content .first-content a:hover {
	background-color: #1c478a;
	box-shadow: #3066be 0px 7px 29px 0px;
}
.header .content .second-content {
	width: 50%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}
.header .content .second-content img {
	width: 100%;
	max-width: 800px;
	border-radius: 8px;
	margin-right: 150px;
}

.listen {
	background-color: rgb(99, 99, 99);
	overflow: visible;
	padding: 0;
}
.listen .wrapper {
	padding: 0;
}
.listen .wrapper .listen-content {
	display: flex;
	flex-direction: row;
}
.listen .listen-box {
	width: 50%;
}
.listen .listen-content .listen-box {
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(33, 126, 207)), to(rgb(29, 108, 128)));
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
}

.listen .listen-content .listen-box .box-text h2 {
	color: white;
	font-size: 3.2rem;
}
.listen .listen-content .listen-box .box-text p {
	color: white;
	font-size: 2.2rem;
	margin-top: 1.2rem;
}
.listen .listen-content .listen-box {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.listen .listen-content .listen-box .box-img img {
	width: 70%;
}
.listen .listen-content .box-two {
	background: rgb(0, 56, 79);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 56, 79)), to(rgb(27, 31, 32)));
	background: linear-gradient(180deg, rgb(0, 56, 79) 0%, rgb(27, 31, 32) 100%);
	display: flex;
	justify-content: center;
	padding: 35px;
}
.listen .listen-content .box-text {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.listen .listen-content .box-text a {
	max-width: 130px;
	text-align: center;
	margin-top: 20px;
}
.listen .listen-content .listen-box.box-text h2 {
	color: white;
	font-size: 3.2rem;
}
.listen .listen-content .listen-box .box-text p {
	color: white;
	font-size: 2.2rem;
	margin-top: 1.2rem;
}
.listen .listen-content .listen-box .box-img {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.listen .listen-content .listen-box .box-img span {
	font-size: 20rem;
	background: linear-gradient(90deg, #0082fa 47.23%, #004b91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.listen .listen-content .listen-box .box-img.first-headerimg span {
	background: linear-gradient(90deg, #c5c5c5 47.23%, #94a0aa 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width: 992px) {
	main section {
		padding: 25px;
	}
	.header .content {
		flex-direction: column;
		padding-bottom: 60px;
		padding-right: 20px;
		padding-left: 20px;
		height: unset;
	}
	.header .content .second-content img {
		margin-right: 0;
	}
	.header .content .first-content {
		width: 100%;
	}
	.header .content .second-content {
		width: 100%;
		padding: 0;
	}
	.listen .wrapper .listen-content {
		flex-direction: column;
	}
	.listen .listen-content .listen-box {
		width: 100%;
		flex-direction: column-reverse;
	}
	.listen .listen-content .listen-box .box-text {
		width: 100%;
	}
	.listen .listen-content .listen-box .box-img {
		width: 100%;
	}
	.listen .listen-content .listen-box .box-img img {
		width: unset;
	}

	.header .content .first-content h3 {
		font-size: 2.4rem;
	}
	.header .content .first-content h2 {
		font-size: 3rem;
	}
	.header .content .first-content {
		padding: 20px 0;
	}
}

/* WHY US SECTION */
.why-us .material-symbols-outlined {
	font-size: 72px;
	margin-bottom: 20px;
	color: #3066be;
}
.why-us {
	background-color: #f5f9fc;
}

.why-us-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.why-us-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	color: #060125;
	margin-bottom: 45px;
}

.why-us-header h2 {
	font-size: 42px;
	background: linear-gradient(90deg, #0082fa 47.23%, #004b91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.why-us-header p {
	font-size: 20px;
	font-weight: 400;
	color: var(--text-color);
}
.why-us-content {
	display: flex;
	flex-direction: column;
}

.why-us-content .row {
	display: flex;
	width: 100%;
	gap: 20px;

	margin-bottom: 20px;
}

.why-us-content .box {
	width: 33%;
	border: 1px solid #3066be71;
	padding: 25px;
	color: #05012b;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	transition: border 0.3s;
}

.why-us-content .box-copy {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.why-us-content .box:hover {
	border: 1px solid #3066be;
}
.why-us-content .box-copy a {
	margin-top: 2rem;
}

.why-us-content .box .box-copy h3 {
	font-size: 28px;
	margin-bottom: 12px;
	color: var(--text-color);
}
.why-us-content .box .box-copy p {
	font-size: 18px;
	color: var(--text-color);
}

@media (max-width: 992px) {
	.why-us-content .box {
		width: 100%;
	}
	.why-us-content .row {
		flex-direction: column;
	}

	.why-us-header h2 {
		font-size: 3.2rem;
	}
	.why-us-header p {
		font-size: 1.8rem;
		font-weight: 400;
		color: var(--text-color);
	}
	.why-us-content .box .box-copy h3 {
		font-size: 2.6rem;
	}
}

/* TECHNOLOGIES STYLES */

.technologies {
	padding: 0;
	background: rgb(209, 209, 209);
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.logos {
	overflow: hidden;
	padding: 60px 0;
	background: rgb(210, 210, 210);
	white-space: nowrap;
	position: relative;
}

.logos:before,
.logos:after {
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
	content: '';
	z-index: 2;
}

.logos:before {
	left: 0;
	background: linear-gradient(to left, rgba(209, 209, 209, 0), rgb(209, 209, 209));
}

.logos:after {
	right: 0;
	background: linear-gradient(to right, rgba(209, 209, 209, 0), rgb(209, 209, 209));
}

.logos:hover .logos-slide {
	animation-play-state: paused;
}

.logos-slide {
	display: inline-block;
	animation: 25s slide infinite linear;
}

.logos-slide img {
	height: 60px;
	margin: 0 40px;
	filter: grayscale(1);
	transition: filter 0.5s;
}
.logos-slide img:hover {
	filter: grayscale(0);
}

@media (max-width: 1000px) {
	.logos-slide img {
		filter: grayscale(0);
	}
}

/* WHY WORTH STYLES */
.price {
	overflow: hidden;
}
.price-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.price-header {
	color: var(--text-color);
}
.price-header h2 {
	font-size: 4.2rem;
}
.price-header span {
	background: linear-gradient(90deg, #0082fa 47.23%, #004b91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.price-copy {
	background-color: transparent;
	background-image: radial-gradient(circle, rgba(0, 0, 0, 0.08), 2px, transparent 1px);
	background-size: 20px 20px;
	padding-bottom: 20px;
}

.price-copy .price-boxes {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: flex-start;
	justify-content: center;
	padding: 6rem 0;
}
.price-copy .pricebox {
	padding: 25px;
	border: 1px solid #3066be71;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	width: 28%;
	position: relative;
	transition: all 0.3s;
	color: var(--text-color);
}
.price-copy .pricebox:hover {
	border: 1px solid #3066be;
}
.pricebox .pricebox-header {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	align-items: center;
}
.pricebox .pricebox-header h2 {
	font-size: 3.6rem;
	margin-bottom: 0.5rem;
	text-align: center;
}
.pricebox .pricebox-header p {
	font-size: 1.6rem;
	text-align: center;
	width: 90%;
}

.pricebox .pricebox-points {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.pricebox .pricebox-points .point {
	display: flex;
	margin-bottom: 1rem;
	align-items: center;
}
.pricebox .pricebox-points .point span {
	font-size: 2.4rem;
	margin-right: 1rem;
	color: #004b91;
}
.pricebox .pricebox-points .point p {
	font-size: 1.8rem;
}

.pricebox .pricebox-time {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
	font-size: 1.6rem;
}

.pricebox .pricebox-price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.pricebox .pricebox-price p:first-of-type {
	font-size: 4.2rem;
	font-weight: 700;
}

.pricebox .pricebox-price p span {
	background: linear-gradient(90deg, #0082fa 47.23%, #004b91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3rem;
	margin-right: 0.5rem;
}
.pricebox a {
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translate(-50%);
	background-color: white;
	font-size: 2rem;
}

.pricebox .pricebox-price .price-disclaimer {
	font-size: 1.6rem;
	color: rgb(99, 99, 99);
}

.price .pricebox-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.price .pricebox-footer h3 {
	font-size: 3.2rem;
	color: #05012b;
	margin-bottom: 0.7rem;
	text-align: center;
}

.price .pricebox-footer p {
	font-size: 2.2rem;
	width: 50%;
	text-align: center;
}
.price .pricebox-footer .cta--blue {
	margin-top: 3rem;
}

.price .pricebox-footer .cta:hover {
	background-color: #1c478a;
	box-shadow: #3066be 0px 7px 29px 0px;
}

@media (max-width: 1000px) {
	.price-copy .price-boxes {
		flex-direction: column;
		padding-bottom: 4rem;
	}
	.price-copy .pricebox {
		width: 100%;
		margin-bottom: 2.5rem;
	}
	.pricebox .pricebox-header h2 {
		font-size: 3.2rem;
	}
	.price .pricebox-footer p {
		width: 100%;
	}
	.price-header h2 {
		font-size: 3.2rem;
	}
}

@media only screen and (max-width: 1300px) and (min-width: 1001px) {
	.price-copy .price-boxes {
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-evenly;
	}
	.price-copy .pricebox {
		width: 47%;
		margin-bottom: 2.5rem;
		justify-content: space-between;
	}
}

/* blog section */

.blog-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.blog-wrapper .blog-header {
	margin-bottom: 4.5rem;
}
.blog-wrapper .blog-header span {
	background: linear-gradient(90deg, #0082fa 47.23%, #004b91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.blog-boxes {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.blog-boxes .box {
	background-image: url(../img/box-blog1.jpg);
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 25%;
	display: flex;
	flex-direction: column;
	padding: 25px;
	justify-content: flex-end;
	border-radius: 10px;
	text-decoration: none;
	position: relative;
}
.blog-boxes .box:nth-child(2){
	background-image: url(../img/blog/blog2.png);
}
.blog-boxes .box:hover {
	transform: translatey(5px) !important;
}

.blog-boxes .box .box-time {
	display: flex;
	flex-direction: row;
	gap: 5px;
	position: absolute;
	left: 25px;
	top: 25px;
	font-size: 1.8rem;
	color: white;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.525);
	padding: 5px 10px;
	border-radius: 6px;
}
.blog-boxes .box .box-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	padding: 10px;
	gap: 10px;
	border-radius: 6px;
}
.blog-boxes .box .box-content h4 {
	font-size: 1.8rem;
	font-weight: 500;
}
.blog-boxes .box .box-content button {
	margin-top: 0;
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
	font-size: 2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.blog-boxes .box .box-content button span {
	font-size: 2rem;
}

@media (max-width: 1000px) {
	.blog-boxes .box {
		width: 100%;
	}
	.blog-boxes {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media only screen and (max-width: 1300px) and (min-width: 1001px) {
	.blog-boxes .box {
		width: 47%;
	}
	.blog-boxes {
		flex-wrap: wrap;
		justify-content: center;
	}

	.blogs .blog-header h2 {
		font-size: 3.2rem;
	}
}

/* WORKSHOP SECTION STYLES */
.workshop-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.workshop-wrapper .extrasbg {
	position: absolute;
	left: -15%;
	top: 0;
	transform: scale(0.5) rotate(40deg);
	opacity: 0.2;
}
.workshop-wrapper .extrasbg2 {
	position: absolute;
	right: -15%;
	bottom: 1%;
	transform: scale(0.65) rotate(220deg);
	opacity: 0.2;
}
.workshop-wrapper .workshop-header span {
	background: linear-gradient(90deg, #0082fa 47.23%, #004b91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.workshop-wrapper .workshop-header h2 {
	font-size: 4.5rem;
}
.workshop-wrapper .workshop-header {
	margin-bottom: 4.5rem;
}

.workshop-boxes {
	display: flex;
	flex-direction: column;
	gap: 25px;
	position: relative;
	z-index: 100;
}
.workshop-boxes .box {
	display: flex;
	flex-direction: row;
	padding: 25px;
	border: 1px solid #3066be71;
	border-radius: 16px;
	position: relative;
	z-index: 100;
	backdrop-filter: blur(10px);
	background-color: #c1c1c14a;
	overflow: hidden;
}
.workshop-boxes .box-img {
	width: 50%;
	position: relative;
	z-index: 200;
}
.workshop-boxes .box-img img {
	width: 100%;
}

.workshop-boxes .box-copy {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	position: relative;
	z-index: 200;
}

.workshop-boxes .box-copy h3 {
	font-size: 3.8rem;
	margin-bottom: 1.5rem;
	color: var(--text-color);
}
.workshop-boxes .box-copy p {
	font-size: 2rem;
	color: var(--text-color);
}
.workshop-boxes .box-copy a {
	width: 30%;
	text-align: center;
}

.workshop-boxes .box-copy-signs {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-top: 10px;
}
.workshop-boxes .box-copy-signs .sign {
	display: flex;
	gap: 15px;
	margin-bottom: 10px;
	color: #004b91;
}
.workshop-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}
.workshop-footer a {
	max-width: 310px;
	position: relative;
	z-index: 101;
}

@media (max-width: 1000px) {
	.workshop .workshop-header h2 {
		font-size: 3.2rem;
	}
	.workshop-boxes .box {
		flex-direction: column;
		position: relative;
	}
	.workshop-boxes .box-img {
		width: 100%;
	}
	.workshop-boxes .box-copy {
		width: 100%;
	}

	.workshop-boxes .box-copy h3 {
		font-size: 3.2rem;
	}

	.workshop-boxes .box-copy p {
		font-size: 18px;
	}
	.workshop-wrapper .extrasbg2 {
		position: absolute;
		right: -15%;
		bottom: 3%;
		transform: scale(0.65) rotate(220deg);
		opacity: 0.2;
	}
	.workshop-boxes .box-copy a {
		width: 50%;
	}
}

/* FOOTER */
