@import './colors';
@import './components';
@import './mixins';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Instrument Sans', sans-serif;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 1920px;
	padding-right: 10px;
	padding-left: 10px;
}

.container {
	margin: 0 auto;
	width: 100%;
	padding: 0 2em;
	max-width: 1200px;
}

.hamburger {
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	border: 0;
	background: transparent;

	&__box {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 24px;
	}

	&__inner {
		top: auto;
		bottom: 0;
		right: 0;

		&,
		&::after,
		&::before {
			position: absolute;
			width: 40px;
			height: 4px;
			background-color: #000;
			display: block;
			border-radius: 4px;
		}

		&::after,
		&::before {
			content: '';
			top: -10px;
		}

		&::before {
			top: -20px;
		}
	}
}

.navbar {
	width: 100%;
	top: 0;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0 4px 4px -5px #000;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		overflow: hidden;

		a.logo {
			text-decoration: none;
			font-size: 28px;
			color: #000;
		}

		i {
			padding-right: 5px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		height: 40vh;
		width: 60%;
		top: 80px;
		right: 0;
		opacity: 0;
		transform: translateX(100%);
		overflow: auto;
		position: absolute;
		background-color: #624848;
		transition: opacity 0.3s, transform 0.3s;
		border-bottom-left-radius: 16px;
	}

	&__item {
		list-style: none;
		display: inline-block;
		cursor: pointer;
		font-size: 2.5rem;

		a {
			color: #000;
			text-decoration: none;
			transition: color 0.3s;
		}

		&:hover a {
			color: #12500a;
		}
	}
}

.show-menu {
	opacity: 1;
	transform: translateX(0);
}

@keyframes a {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.95);
	}
	to {
		transform: scale(1);
	}
}

@media (min-width: 992px) {
	.navbar {
		.hamburger {
			display: none;
		}

		&__list {
			flex-direction: row;
			justify-content: space-between;
			transform: translate(0);
			opacity: 1;
			background: none;
			position: static;
			width: auto;
			gap: 0;

			.navbar__item {
				margin-top: 0;
				padding: 28px;
				font-size: 20px;
				transition: color 0.3s, background-color 0.3s;

				&:hover {
					background-color: #000;

					a {
						color: #fff;
					}
				}
			}
		}
	}
}

main {
	section {
		padding: 60px;
	}

	.header {
		height: 650px;
		background: rgb(213, 240, 235);
		background: linear-gradient(38deg, rgba(213, 240, 235, 1) 0%, rgba(158, 221, 211, 1) 100%);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 40px;

		.content {
			height: 100%;
			max-width: 1920px;
			width: 100%;
			display: flex;
			border-radius: 18px;

			.first-content {
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 20px;

				h3 {
					font-size: 3.5rem;
					font-weight: 400;
					margin-bottom: 1.2rem;
					color: black;
				}
				h2 {
					font-size: 4rem;
					font-weight: 600;
					color: black;
					span {
						background: rgb(0, 56, 79);
						background: linear-gradient(114deg, rgba(0, 56, 79, 1) 0%, rgba(63, 171, 128, 1) 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				a {
					padding: 15px 10px;
					font-size: 2rem;
					text-decoration: none;
					color: rgb(255, 255, 255);
					width: 20%;
					text-align: center;
					background-color: #00c39c;
					margin-top: 3rem;
					transition: background-color 0.3s;
					&:hover {
						background-color: #00c39c;
					}
				}
			}
			.second-content {
				width: 50%;
				height: 100%;

				display: flex;
				justify-content: center;
				align-items: center;

				& img {
					width: 100%;
				}
			}
		}
	}

	.listen {
		background-color: rgb(99, 99, 99);
		overflow: visible;
		padding: 0;

		.wrapper {
			border: 1px solid red;
			padding: 0;

			.listen-content {
				display: flex;
				flex-direction: row;

				.listen-box {
					width: 50%;
					height: 450px;

					&.box-one {
						background-color: #00c39c;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 25px;

						.box-text {
							width: 50%;

							h2 {
								color: white;
								font-size: 3.2rem;
							}
							p {
								color: white;
								font-size: 2.2rem;
								margin-top: 1.2rem;
							}
						}
						.box-img {
							width: 50%;
							display: flex;
							align-items: center;
							justify-content: center;

							img {
								width: 70%;
							}
						}
					}
					&.box-two {
						background: rgb(0, 56, 79);
						background: linear-gradient(180deg, rgba(0, 56, 79, 1) 0%, rgba(27, 31, 32, 1) 100%);
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 25px;

						.box-text {
							width: 50%;

							h2 {
								color: white;
								font-size: 3.2rem;
							}
							p {
								color: white;
								font-size: 2.2rem;
								margin-top: 1.2rem;
							}
						}
						.box-img {
							width: 50%;
							display: flex;
							align-items: center;
							justify-content: center;

							img {
								width: 70%;
							}
						}
					}
				}
			}
		}
	}
}

// ----------------
// MEDIA
// ----------------

@media (max-width: 992px) {
	main section {
		padding: 25px;
	}
	main .header .content {
		flex-direction: column;
	}
	main .header .content .first-content {
		width: 100%;
	}
	main .header .content .second-content {
		width: 100%;
	}
	main .header .content .first-content a {
		width: 80%;
		max-width: 250px;
	}
}
